@charset "utf-8";

/* ==========================================================================
  CSS Reset Code
  ========================================================================== */

/* Eric Meyers Reset
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
  ========================================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
  tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }

  /* Force scrollbar */
  html { 
  	overflow-y: scroll; 
  	scroll-behavior: smooth;
  }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
  	cursor: pointer;
  }

  strong {
  	font-weight: bold;
  	font-family: inherit;
  	font-size: inherit;
  }

  em { font-style: italic; }

  img {
  	border: 0;
  	vertical-align: middle;
  }

  sub,
  sup {
  	vertical-align: baseline;
  	position: relative;
  	font-size: 55%;
  	line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* Font Declaration
========================================================================== */

@font-face {
  font-family: "montserrat-reg";
  src: url('../vendor/webfonts/montserrat/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "montserrat-bold";
  src: url('../vendor/webfonts/montserrat/Montserrat-Bold.ttf') format("truetype");
}

/* Common Styling 
========================================================================== */

h2,
h3 { text-transform: uppercase; }

h2,
h3,
h4 { font-family: "montserrat-bold"; }

a,
button,
input,
select,
textarea { outline: none; }

body { font-family: "montserrat-reg"; }
img { width: 100%; }
ul { list-style: none; }
select { border: none; }

a { 
  display: inline-block;
  text-decoration: none; 
  transition: .5s ease-in-out;
}

/* Container
========================================================================== */

.container { width: 100%; }

/* Wrapper
========================================================================== */

.wrapper { 
  margin: 0 auto;
  max-width: 1519px; 
}

.mainHeader .wrapper { width: 97.23%; }
.ourFleet .wrapper { width: 83.54%; }
.newsArticle .wrapper { width: 75.66%; }

.description .wrapper,
.ourSpeciality .wrapper,
.topFooter .wrapper { width: 80.38% }

/* Header
========================================================================== */

header { 
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 5;
}

/* Top Header */

.topHeader {
  padding: 5px 0;
  background: rgba(54, 54, 54, 0.9);
  color: #fff;
  font-size: 15px;
  text-align: right;
}

.topHeader span::after {
  margin: 0 5px;
  display: inline-block;
  content: '\f095';
  font-size: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: rotateY(180deg);
}

.topHeader a { color: #fff; }

a[href="tel:+91-7306747474"]::before { 
  margin: 0 5px 0 0;
  content: '/'; 
}

/* Main Header */

.mainHeader { 
  background: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.mainHeader .wrapper { padding: 10px 0 9px; }

.mainHeader .wrapper,
.navigation { 
  display: flex;
  align-items: center; 
}

h1 { flex: 0 1 10%; }
h1 a { text-indent: -9999px; }
h1 img { float: right; }

select[name="location"] {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
}

select[name="location"],
select[name="location"] option { cursor: pointer; }

.mainHeader__locationSelect { margin-left: 2.2%; }
select[name="location"] option { background: rgba(0, 0, 0, 0.5); }

.hamburger { 
  width: 30px;
  display: none; 
}

.hamburger__top, 
.hamburger__mid, 
.hamburger__bottom {
  width: 100%;
  height: 5px;
  margin-top: 6px;
  display: block;
  z-index: 10;
  transform-origin: left;
  transition: .5s ease;
  background-color: #fff;
  text-indent: -9999px;
  cursor: pointer;
}

.cross .hamburger__top { transform: rotate(45deg); } 
.cross .hamburger__mid { opacity: 0; }
.cross .hamburger__bottom { transform: rotate(-45deg); }

nav { 
  margin-left: auto;
  flex: 0 1 36.2%; 
}

.navigation { justify-content: space-between; }

.navigation a,
.navigation span { 
  color: #fff; 
  cursor: pointer;
  font-size: 13px;
}

.navigation li:nth-child(4) { position: relative; }

.navigation li:nth-child(4) span::after {
  margin-left: 5px;
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
}

.navigation__dropdown {
  height: 0;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.navigation__dropdown li { padding: 10px 5px; }

.navigation__account {
  padding: 5px 0 7px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.navigation__account a {
  display: inline-block;
  padding: 0 16px;
}

a[title="Sign Up"] { border-right: 1px solid #fff; }

/* Main
========================================================================== */

/* Banner */

.banner {
  padding: 35px 0 202px;
  background: url('../images/bannerBackground.jpg') no-repeat;
  background-position: center;
  background-size: 100% 168%;
}

.banner figure {
  width: 290px;
  margin: 0 auto;
}

/* Description */

.description { background: #f3f3f3; }

.description .wrapper { padding: 60px 0; }

.description ul { 
  display: flex; 
  justify-content: space-between;
}

.description a {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 32px 10%;
  color: #333;
  font-family: "montserrat-bold";
  font-size: 12px;
  text-transform: uppercase;
}

.description span { 
  display: block;
  font-size: 32px; 
}

.description li { 
  flex: 0 1 23.5%; 
  box-shadow: 0px 2px 8px #888;
  transition: .3s ease-in-out;
}

.description li:first-child { 
  background: url('../images/descriptionBackground.png') no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #E3E1E1; 
}
.description li:nth-child(2) { 
  background: url('../images/descriptionBackground5M.png') no-repeat; 
  background-size: cover;
  background-position: bottom;
  background-color: #E3E1E1;
}
.description li:nth-child(3) { 
  background: url('../images/descriptionBackgroundGoogle.png') no-repeat;
  background-size: cover;
  background-position: bottom; 
  background-color: #E3E1E1;
}
.description li:last-child { 
  background: url('../images/descriptionBackgroundFB.png') no-repeat; 
  background-size: cover;
  background-position: bottom;
  background-color: #E3E1E1;
}

.description li:nth-child(3) span::after,
.description li:last-child span::after {
  margin-left: 10px;
  content: '';
  font-family: "Font Awesome 5 Free";
  color: #333;
  font-weight: 900;
  font-size: 17px;
  vertical-align: middle;
}

/* Our Speciality */

.ourSpeciality .wrapper { padding: 10px 0 90px; }

.ourSpeciality h2 {
  color: #111;
  font-size: 26px;
  text-align: center;
}

.ourSpeciality__list,
.ourSpeciality__headingContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ourSpeciality__list li { 
  margin-top: 60px;
  flex: 0 1 23.5%; 
} 

.ourSpeciality__headingContent { align-items: center; }

.ourSpeciality__headingContent span {
  flex: 0 1 20%;
  color: #fecc00;
  font-family: "montserrat-bold";
  font-size: 50px;
}

.ourSpeciality__headingContent h4 {
  flex: 0 1 75%;
}

.ourSpecility__descriptionContent p {
  color: #999;
  font-size: 13px;
  line-height: 20px;
  word-spacing: 1px;
}

/* Our Fleet */

.ourFleet { background: #f3f3f3; }
.ourFleet .wrapper { padding: 40px 0; }

.ourFleet__bikes a { 
  width: 100%; 
  color: #333;
  font-size: 14px;
}

.ourFleet h2 {
  color: #111;
  font-size: 26px;
  text-align: center;
}

.ourFleet__bikes {
  margin-top: 36px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  background: #fff;
  box-shadow: 0 2px 8px #888;
}

.ourFleet__bikes li { 
  padding-top: 15px;
  flex: 0 1 25%; 
  align-self: flex-end;
  border-bottom: 5px solid #9e9e9e;
}

.ourFleet__bikes li:last-child { align-self: stretch; }

.ourFleet__bikes figure { 
  width: 92%; 
  margin: 0 auto;
  position: relative;
  z-index: 1;
  transition: .5s ease-in-out;
}

.ourFleet__bikes h4 {
  position: relative;
  z-index: 2;
}

a[title="See More"] {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "montserrat-bold";
  color: #aaa;
}

a[title="See More"]::after {
  margin-left: 5px;
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
}

/* News Article */

.newsArticle { background: #f3f3f3; }
.newsArticle li { flex: 0 19%; }

.newsArticle ul { 
  display: flex; 
  justify-content: space-between;
}

/* Footer
========================================================================== */

footer { background: #363636; }

/* Top Footer */

.topFooter .wrapper {
  padding: 30px 0; 
  display: flex; 
}

.topFooter h2 { flex: 0 1 37%; }
.topFooter h2 a { text-indent: -9999px; }
.topFooter h2 img { float: right; }
.topFooter li { padding: 2px 0; }
.topFooter a { font-size: 13px; }
.follow { margin-left: 13%; }

.topFooter h3,
.topFooter a {
  color: #fff;
}

.topFooter h3 {
  padding-bottom: 10px; 
  font-size: 28px; 
}

.company { 
  margin-left: 4%;
  flex: 0 1 29%; 
}

.company__links {
  display: flex;  
  justify-content: space-between;  
  flex-wrap: wrap;
}

.bottomFooter {
  padding: 10px 0 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* Media Queries for Hover Effects
========================================================================== */

@media only screen and (min-width: 1023px) {
  .topHeader a:hover { color: #fdd24f; }
  .topFooter a:hover { color: #fdd24f; }

  .navigation a:hover,
  .navigation span:hover { color: #FDD24F; }

  .ourFleet__bikes a:hover figure { transform: translateY(-5%) scale(1.1, 1.1); }

  .description li:hover { 
    transform: scale(1.05); 
    box-shadow: 4px 8px 16px #888;
  }

  .navigation li:nth-child(4):hover .navigation__dropdown { 
    height: auto; 
    opacity: 1;
    top: 20px;
  }

}

/* Media Queries for Ipad Pro @1024px
========================================================================== */

@media only screen and (max-width: 1024px) {
  
  /* Header */
  
  .mainHeader .wrapper { 
    position: relative;
    justify-content: space-between; 
  }
  
  h1 { 
    flex: 0 1 200px;
    order: 2; 
    transform: translateX(-27%);
  }
  
  .mainHeader__locationSelect { 
    margin-left: 0;
    order: 1; 
  }

  .hamburger { 
    display: block;
    order: 3; 
  }

  nav { 
    /* display: none;  */
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    max-height: 0;
    transition: .5s ease-in-out;
    overflow: hidden; 
  }

  .show { max-height: 500px; }
  
  .navigation {
    flex-direction: column;
  }

  .navigation li:nth-child(4) span { display: none; }

  .navigation__dropdown {
    height: auto;
    position: relative;
    top: 0;
    background: none;
    opacity: 1;
  }

  .navigation a { 
    padding: 10px 0;
    font-size: 16px; 
  }

  .navigation li { padding: 0; }
  .navigation__account { border: none; }
  .navigation__account a { display: block; }
  a[title="Sign Up"] { border-right: none; }

  /* Banner */

  .banner { padding: 100px 0; }

  /* Description */
  
  .description .wrapper { padding: 40px 0 60px; }

  .description ul { flex-wrap: wrap; }
  
  .description li { 
    margin-top: 20px;
    flex: 0 1 48%; 
  }

  /* Our Speciality */

  .ourSpeciality__list li { flex: 0 1 49%; }
  
  /* Our Fleet */

  .ourFleet__bikes li { flex: 0 1 33%; }

  /* Top Footer */
  
  .company { flex: 0 1 43%; }

}

/* Media Queries for Large Mobile @426px
========================================================================== */

@media only screen and (max-width: 768px) {
  
  /* Header */
  
  h1 { flex: 0 1 150px; }

  /* Our Fleet */

  .ourFleet__bikes li { flex: 0 1 50%; }

  /* News Article */
  
  .newsArticle ul { flex-wrap: wrap; }

  .newsArticle li { flex: 0 1 48%; }

  /* Top Footer */
  
  .topFooter .wrapper { flex-wrap: wrap; }

  .topFooter h2 { display: none; }

  /* Bottom Footer */

  .bottomFooter { padding: 0 10px; }

}

/* Media Queries for Large Mobile @426px
========================================================================== */

@media only screen and (max-width: 426px) {
  
  /* Header */

  .topHeader {
    text-align: center;
    font-size: 12px;
  }
  
  h1 { flex: 0 1 100px; }

  /* Description */
  
  .description li { flex: 0 1 48%; }

  /* Our Speciality */

  .ourSpeciality__list li { flex: 0 1 100%; }
  
  /* Our Fleet */

  .ourFleet__bikes li { flex: 0 1 100%; }
  .ourFleet__bikes li:last-child { 
    align-self: flex-start; 
    padding: 80px;
  }

  /* Top Footer */

  .company {
    margin-left: 0; 
    flex: 0 1 100%; 
  }

  .follow { margin: 30px 0; }
}